<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">FinCtrl</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("Início", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Sobre", "About", "Home", null, new { @class = "nav-link" })
                    </li>
                </ul>
                <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Financas")" class="btn btn-outline-light navbar-btns">Minhas Financas</a>
                        </li>

                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()

                            <li class="nav-item">
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-outline-warning navbar-btns">
                                    <i class="fa fa-power-off" aria-hidden="true"></i>
                                    Log Out
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Register", "Account")" class="btn btn-outline-success navbar-btns">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Registrar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Login", "Account")" class="btn btn-outline-primary navbar-btns">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                Login
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer>
        <div class="footer">
            Matheus Daumas &#169; @DateTime.Now.Year
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/app/app.js"></script>
</body>
</html>
