<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">FinCtrl</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("Início", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Sobre", "About", "Home", null, new { @class = "nav-link" })
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Bem Vindo!
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    @Html.ActionLink("Minhas Financas", "Index", "Financas", null, new { @class = "dropdown-item" })
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">Log Out</a>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
                <form class="form-inline">
                    @Html.ActionLink("Registrar", "Register", "Account", null, new { @class = "btn btn-sm btn-outline-success navbar-btns" })
                    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-sm btn-outline-primary navbar-btns" })
                </form>
            }
        </nav>




    </header>

    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="footer"></footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/app/app.js"></script>
</body>
</html>
